* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #b5f6ff;
  text-align: center;
}
h1{
  padding-top: 1vw;
  font-size: 2.5vw;
  color: #23242d;
  
}
 

#new-btn {
  font-size: 1.3vw;
  margin-top: 15px;
  padding: 1vw;
  width: 10vw;
  background-color: #ff80ab;

  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
  border: none;
}
#msg {
  color: #00796b;
  font-size: 4vw;
}

.msg-container {
  height: 25vmin;
}
.hide {
  display: none;
}
.container {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.6vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 12px;
   
  /* box-shadow: 0 0 16px rgba(0, 0, 0, 0.2); */
  box-shadow: 7px 7px 10px #a4a8b4,-7px -7px 10px hwb(180 88% 1%);
  border: none;
  background-color: #e4ff92;
  font-size: 7vmin;

  font-weight: 400;
}
.box.o {
  color: rgb(20, 255, 161); /* Color for 'O' */
  color: #004d40;
}

.box.x {
  color: rgb(131, 18, 18); /* Color for 'X' */
  color: #d32f2f;
}
#reset-btn {
  font-size: 1.3vw;
  margin-top: 30px;
  padding: 1vw;
  width: 8vw;
  background-color: #ff80ab;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
  border: none;
}
